.wrapper {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid blue;

  .box {
    width: 100px;
    height: 100px;
    background-color: red;

    // Centralizando com absolute

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin: -50px 0 0 -50px;
  }
}
