@use 'sass:math';

@function get-dark-bg($number: 1) {
  @return rgba(0, 0, 0, math.div($number, 10));
}

.wrapper {
  display: flex;
  border: 1px solid blue;

  .item {
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }

  @for $i from 1 through 10 {
    .item#{$i} {
      background-color: get-dark-bg($i);
    }
  }
}


