<div class="page-container">
  <p>[x] Crie uma função em scss que eu passe um nível de opacidade/tom da cor e ela me retorne o valor do background.
    Aplique um nível de cor para cada item.</p>
  <p>ex.: get-dark-bg(nivel)</p>
  <p>get-dark-bg(1) retorna rgba(0,0,0,.1)</p>
  <p>get-dark-bg(2) retorna rgba(0,0,0,.2)</p>
  <p>get-dark-bg(3) retorna rgba(0,0,0,.3)</p>
  <p>get-dark-bg(4) retorna rgba(0,0,0,.4)</p>

  <div class="wrapper">
    <div *ngFor="let i of items; let index = index" class="item item{{ index + 1 }}"></div>
  </div>
</div>
